<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ef968d">  <td>21/12/22 10:08:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:wefox.Runner.RunnerHelper$TestNGRunner@52f759d7]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1822383117</td>   <td></td> </tr>
<tr bgcolor="ef968d">  <td>21/12/22 10:08:48</td>   <td>11742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:wefox.Runner.RunnerHelper$TestNGRunner@52f759d7]">runScenario</td> 
  <td>main@1822383117</td>   <td></td> </tr>
<tr bgcolor="ef968d">  <td>21/12/22 10:08:51</td>   <td>14760</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:wefox.Runner.RunnerHelper$TestNGRunner@52f759d7]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1822383117</td>   <td></td> </tr>
<tr bgcolor="ef968d">  <td>21/12/22 10:08:48</td>   <td>11742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:wefox.Runner.RunnerHelper$TestNGRunner@52f759d7]">runScenario</td> 
  <td>main@1822383117</td>   <td></td> </tr>
<tr bgcolor="ef968d">  <td>21/12/22 10:08:48</td>   <td>11742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:wefox.Runner.RunnerHelper$TestNGRunner@52f759d7]">runScenario</td> 
  <td>main@1822383117</td>   <td></td> </tr>
</table>
